$background: #0c2461;
$small-screen: "screen and (max-width: 600px)";
$big-screen: "screen and (min-width: 600px)";
$line-color: #4a69bd;
$line-color2: #6a89cc;
$box-color: #6a89cc;
$text-color: white;