@import "../styles/constants";
$line-color: #4a69bd;
$line-color2: #6a89cc;
$box-color: #6a89cc;
$timeline-gap: 30px;

.line {
    position: absolute;
    border-radius: 2px;
    width: 6px;
    background: $line-color;
    background: -moz-linear-gradient(180deg, $line-color 0%, $line-color 74%, transparent 100%);
    background: -webkit-linear-gradient(180deg, $line-color 0%, $line-color 74%, transparent 100%);
    background: linear-gradient(180deg, $line-color 0%, $line-color 74%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7a7a",endColorstr="#f9f9f9",GradientType=1);
    top: 0;
    bottom: -30px;
    left: 50%;
    margin-left: -3px;

    @media #{$small-screen} {
        left: 37px;
    }
}

.timeline {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40vw;
    transform-origin: 0px 25px;

    @media #{$small-screen} {
        width: 85vw;
        padding-left: 70px;
        padding-right: 25px;
        transform-origin: 38px 25px;
    }

    // &:hover .content {
    //     background: #4a69bd;
    // }
    // &:hover .arrow {
    //     border-right-color: #4a69bd;
    //     border-left-color: #4a69bd;
    // }

    &.left {
        @media #{$big-screen} {
            transform-origin: right 27px;
        }
    }
    &.right {
        left: 50%;
        @media #{$small-screen} {
            left: 0%;
        }
    }
}

.bubble {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $line-color;
    border: 4px solid $line-color2;
    top: 15px;
    border-radius: 50%;
    z-index: 1;

    &.left {
        right: -13px;
        left: unset;

        @media #{$small-screen} {
            left: 25px;
            right: unset;
        }
    }
    &.right {
        left: -12px;

        @media #{$small-screen} {
            left: 25px;
        }
    }

    @media #{$small-screen} {
        left: 15px;
        right: unset;
    }
}

.arrow {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    border: medium solid $box-color;
    cursor: pointer;

    @media #{$small-screen} {
        left: 40px;
        border: medium solid $box-color;
        border-width: 10px $timeline-gap 10px 0;
        border-color: transparent $box-color transparent transparent;
    }
    @media #{$big-screen} {
        &.left {
            right: 10px;
            border-width: 10px 0 10px $timeline-gap;
            border-color: transparent transparent transparent $box-color;
        }
        &.right {
            left: 10px;
            border-width: 10px $timeline-gap 10px 0;
            border-color: transparent $box-color transparent transparent;
        }
    }
}

.content {
    padding: 20px 30px;
    background-color: $box-color;
    position: relative;
    border-radius: 6px;

    .title {
        font-weight: bold;
    }

    .divider {
        width: auto;
        height: 1px;
        background: $line-color;
        border-radius: 1px;
        margin: 0;
        margin-top: -0.75rem;
    }

    .extraInfo {
        margin-left: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .icon {
            width: 1.2rem;
            height: auto;
            margin-right: 0.5rem;
        }

        .infoContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 0.8rem;
        }
    }

    .date{
        display: flex;
        align-items: baseline;
        .startDate {
            margin: 0;
        }
        .endDateContainer {
            display: flex;
            align-items: baseline;
            .splitter {
                margin: 0.5rem;
            }
            .endDate {
                margin: 0;
            }
        }
    }
}

.animationContainer {
    transform-origin: 50% center;
    @media #{$small-screen} {
        transform-origin: 25px center;
    }
}